:root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

ul, li {
  list-style-type: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

.zoom-app-container {
  max-width: 100%;
  margin: 0 auto;
}