// Colors
$primary-color: #612a92;
$dark-white: #ecf0f1;
$white-gray: #ccc;
$dark-grey: #333;
$light-grey: #666;
$regular-grey: #777;
$blue: #3790f8;

// Spacing
$small-spacing: 1rem;
$medium-spacing: 2.5rem;
$large-spacing: 3.2rem;