// Colors
$primary-color: #612a92;
$darker-primary-color: #3a1957;
$white: #ffffff;
$dark-white: #ecf0f1;
$white-gray: #ccc;
$dark-grey: #333;
$light-grey: #666;
$regular-grey: #777;
$blue: #3790f8;
$dark-blue: #21243d;

// Spacing
$small-spacing: 1rem;
$medium-spacing: 2.5rem;
$large-spacing: 3.2rem;